@using Atomex;
@inject WalletStorage walletStorage;
@inject AccountStorage accountStorage;

<div class="exchange-container @(IsOpened ? "opened" : "") noselect">
  @if(Label.Length > 0) {
    <span>
      @(Label):
    </span>
  }
  <RoundedContainer OnClick="@OnDropdownClick">
    <CurrencyModalCard SelectedCurrency="@SelectedCurrency" Amount="@(walletStorage.GetCurrencyData(SelectedCurrency, "balance"))" />
    @if (IsOpened) {
      <div class="exchange-dropdown">
        @foreach (Currency currency in walletStorage.AvailableCurrencies)
        {
          if (!IsSecondCurrency || (IsSecondCurrency && GetCurrencyIsConverted(currency))) {
            <CurrencyModalCard
              SelectedCurrency="@currency"
              Amount="@(walletStorage.GetCurrencyData(currency, "balance"))"
              OnClick="() => OnCurrencyClick(currency)" />
          }
        }
      </div>
    }
  </RoundedContainer>
</div>

@code {
  [Parameter]
  public Currency SelectedCurrency { get; set; }

  [Parameter]
  public bool IsSecondCurrency { get; set; }

  [Parameter]
  public string Label { get; set; } = "";

  [Parameter]
  public bool IsOpened { get; set; }

  [Parameter]
  public EventCallback<int> HandleOpen { get; set; }

  private bool GetCurrencyIsConverted(Currency currency)
  {
    return accountStorage.AtomexApp.Account.Symbols.SymbolByCurrencies(walletStorage.SelectedCurrency, currency) != null;
  }

  private void OnCurrencyClick(Currency currency)
  {
    // IsOpened = !IsOpened;
    OnDropdownClick();
    if (IsSecondCurrency)
    {
      walletStorage.SelectedSecondCurrency = currency;
    }
    else
    {
      walletStorage.SelectedCurrency = currency;
    }
  }

  private void OnDropdownClick()
  {
    if (IsSecondCurrency)
    {
      HandleOpen.InvokeAsync(2);
    }
    else
    {
      HandleOpen.InvokeAsync(1);
    }
  }

  protected override void OnInitialized()
  {
    walletStorage.RefreshRequested += StateHasChanged;
  }
}