
@inject WalletStorage walletStorage;

<div class="modal-currency-title__container" @onclick="@OnClick">
  <div>
    @if (SelectedBaker != null) {
      <img src="@(!String.IsNullOrEmpty(SelectedBaker.Logo) ? SelectedBaker.Logo : "/css/images/atomex_logo_small.png")" class="baker-logo">
    } else {
      <i class="icon currency-icon @SelectedCurrency.Description.ToLower()"></i>
    }
    <div class="modal-currency-title__text-container">
      @if (SelectedBaker != null) {
        <div class="baker-name">@SelectedBaker.Name</div>
        @if(SelectedBaker.Name.ToLower() != "custom baker") {
          <div>@(Helper.SetPrecision((SelectedBaker.EstimatedRoi * 100), 3).ToString("G29"))%</div>
        }
      } else {
        <div>@SelectedCurrency.Description.ToUpper()</div>
        <div>@Amount <span>@SelectedCurrency.Name</span></div>
      }
    </div>
  </div>
  @if (SelectedBaker != null && SelectedBaker.Name.ToLower() != "custom baker") {
    <div>
      @if (SelectedBaker.StakingAvailable > 0) {
        <span>@Translations.Available</span>
      }
      <span class="@(SelectedBaker.StakingAvailable <= 0 ? "error-description" : "")">@(SelectedBaker.StakingAvailable > 0 ? Decimal.ToInt32(SelectedBaker.StakingAvailable).ToString() : Translations.Full)</span>
    </div>
  }
</div>

@code {
  [Parameter]
  public Currency SelectedCurrency { get; set; }

  [Parameter]
  public Baker SelectedBaker { get; set; }

  [Parameter]
  public decimal Amount { get; set; }

  [Parameter]
  public EventCallback OnClick { get; set; }


  I18nText.Translations Translations = new I18nText.Translations();
  protected override async Task OnInitializedAsync()
  {
    Translations = await I18nText.GetTextTableAsync<I18nText.Translations>(this);
    walletStorage.RefreshRequested += StateHasChanged;
  }
}