@using Atomex

<div class="exchange-container @(IsOpened ? "opened" : "") noselect">
  @if(Label.Length > 0) {
    <span>
      @(Label):
    </span>
  }
  <RoundedContainer OnClick="@OnDropdownClick">
    <CurrencyModalCard SelectedCurrency="@SelectedCurrency" Amount="@Amount" />
    @if (IsOpened) {
      <div class="exchange-dropdown">
        <CurrencyModalCard
          SelectedCurrency="@(new Bitcoin())"
          Amount="@(0.0m)"
          OnClick="() => OnCurrencyClick(new Bitcoin())" />
        <CurrencyModalCard
          SelectedCurrency="@(new Ethereum())"
          Amount="@(0.0m)"
          OnClick="() => OnCurrencyClick(new Ethereum())" />
        <CurrencyModalCard
          SelectedCurrency="@(new Litecoin())"
          Amount="@(0.0m)"
          OnClick="() => OnCurrencyClick(new Litecoin())" />
        <CurrencyModalCard
          SelectedCurrency="@(new Tezos())"
          Amount="@(0.0m)"
          OnClick="() => OnCurrencyClick(new Tezos())" />
      </div>
    }
  </RoundedContainer>
</div>

@code {
  [Parameter]
  public Currency SelectedCurrency { get; set; }

  [Parameter]
  public string Label { get; set; } = "";

  private bool IsOpened { get; set; } = false;

  private decimal Amount { get; set; } = 0.0000000m;

  private void OnCurrencyClick(Currency currency)
  {
    SelectedCurrency = currency;
    IsOpened = !IsOpened;
  }

  private void OnDropdownClick()
  {
    IsOpened = !IsOpened;
  }
}