@if(!String.IsNullOrEmpty(To)) {
    <span class="navigate-button @Variant" disabled="@Disabled">
        <NavLink class="button-link" href="@To">@ChildContent</NavLink>
    </span>
} else {
    <button class="navigate-button @Variant" @onclick="OnClick" disabled="@Disabled" type="button">
        @ChildContent
    </button>
}

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Variant { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string To { get; set; }
}