@inject WalletStorage _walletStorage;
@inject TezosTokenStorage _tezosTokenStorage;

<div class="tokens-container">
<div class="wallet-page__left-nav solid-dark-background tokens">
    <div>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact active" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>
        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton"/>
            <span class="contract-name trunc-text">Hic et nunc NFTs</span>
        </button>

        <button class="wallet-menu__button contact" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1EpQVwqLGSH7vMCWKJnq6Uxi851sEDbhWL"/>
            <span class="contract-name trunc-text">Atomex kUSD</span>
        </button>

        <button class="wallet-menu__button contact active" type="button">
            <img class="token-img" src="https://services.tzkt.io/v1/avatars/KT1PDrBE59Zmxnb8vXRgRAG1XmvTMTs5EDHU"/>
            <span class="contract-name trunc-text">Dexter ETHtz/XTZ</span>
        </button>

    </div>
</div>
<div class="contract-content-side">
    <div class="currency-card token">
        <div class="token">
            <div class="currency-card__selected-currency @()">
                <img class="token-image" src="https://services.tzkt.io/v1/avatars/KT1NrAnSjrjp3Bycaw8YKPrDq2aXUTHhq8MF"/>
                <span>
                    <div class="currency-card__currency-value">hic et nunc DAO</div>
                    <div class="currency-card__dollar-value">
                        <div class="currency-card__dollar-value-desc">
                            KT1NrAnSjrjp3Bycaw8YKPrDq2aXUTHhq8MF
                        </div>
                    </div>
                </span>
            </div>
            <div class="currency-card__buttons">
                <button class="navigate-button small " type="button">Send</button>
                <button class="navigate-button small " type="button">Receive</button>
                <button class="navigate-button small " type="button">Convert</button>
                <button class="navigate-button small " type="button">Update</button>
                <button class="navigate-button small " type="button">Addresses</button>
            </div>
        </div>
    </div>
    <div class="contract-tabs-container">
        <button class="contract-tabs-btn left @(CurrentVariant == Variant.Tokens ? "active" : "")"
                @onclick="@(() => OnVariantClick(Variant.Tokens))">
            Tokens
        </button>
        <button class="contract-tabs-btn  @(CurrentVariant == Variant.Transfers ? "active" : "")"
                @onclick="@(() => OnVariantClick(Variant.Transfers))">
            Transfers
        </button>
    </div>
    @if (CurrentVariant == Variant.Tokens)
    {
        <div class="contract-content-container">
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
            <div class="token-row-container">
                <img src="https://d38roug276qjor.cloudfront.net/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/156871.png" class="token-preview-img" alt="">
                <div class="token-row-container__description">
                    <div>
                        <div class="trunc-text">
                            CRYPOTS_Streaming
                        </div>
                        <div class="token-description trunc-text">
                            Purchase an edition of this Crypots if you want to get the Priority Access to the Video
                        </div>
                    </div>
                    <div>
                        <i class="icon asset-icon"/>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (CurrentVariant == Variant.Transfers)
    {
        <div class="contract-transfers-container">
            <WalletDataTable
                Variant="@WalletDataTable.AvailableVariants.Transactions"
                TransactionsData="@_walletStorage.SelectedCurrencyTransactions"
                ForTokens />
        </div>
    }
</div>
</div>

@code
{
    private enum Variant
    {
        Tokens,
        Transfers
    }

    private Variant CurrentVariant { get; set; } = Variant.Tokens;

    private void OnVariantClick(Variant variant)
    {
        CurrentVariant = variant;
    }
    
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         _tezosTokenStorage.LoadAsync();
    //     }
    // }
}